div {margin: 0; padding: 0;}
div div {position: relative;}

.muzi{
	height: 450px; width: 400px;
	margin-left: 100px;
}
p{
	height: 20px; width: 200px;
	margin-left: 120px;
}

.head{
	width: 180px; height: 180px;
	top: 60px;
	border-radius: 50%;
	background-color: white;
	border: 5px solid black;
}

.face{
	width: 158px; height: 140px;
	background-color: #f4d942;
	border-radius: 50%;
	top: 10px;
	left: 6px;
	z-index: 5;
	border: 5px solid black;
}

.l_eye, .r_eye{
	border: 5px solid black;
	position: absolute;
	width: 48px; height: 24px;
	border-radius: 50%;
	background-color: white;
	top: 47px;
}

.l_eye{
	left: 10px;
}

.r_eye{
	right: 10px;
}

.l_eye_black, .r_eye_black{
	width: 11px; height: 11px;
	background-color: black;
	border-radius: 50%;
}

.l_eye_black{
	left: 21px;
	top: 5px;
}

.r_eye_black{
	right: -16px;
	top: 5px;
}

.nose{
	width:24px; height:19px;
	background-color: black;
	border-radius: 50%;
	margin: 0 auto;
	top: 73px;
	z-index: 5;
}

.l_mouth, .r_mouth{
	border: 5px solid black;
	background-color: #f4d942;
	width: 24px; height: 15px;
	position: absolute;
	border-radius: 5px 5px 50% 50%;
	border-top: none;
}

.l_mouth{
	left: 48px;
	top: 85px;
}

.r_mouth{
	right: 48px;
	top: 85px;
}

.l_ear, .r_ear, .l_ear_pink, .r_ear_pink{
	position: absolute;
	border: 5px solid black;
	width: 30px; height: 100px;
	background-color: white;
	border-radius: 20px;
	z-index: -1;
}

.l_ear{
	top: -55px;
	left: 23px;
	transform: rotate(-15deg);
}

.r_ear{
	top: -55px;
	right: 23px;
	transform: rotate(15deg);
}

.l_ear_pink, .r_ear_pink{
	background-color: #ff96b2;
	width: 12px; height: 80px;
}

.l_ear_pink{
	left: 4px;
	top: 10px;
}

.r_ear_pink{
	right: 4px;
	top: 10px;
}

.body{
	width: 140px; height: 100px;
	top: 24px;
	border-radius: 0 0 40px 40px;
	background-color: white;
	border: 5px solid black;
	border-top: none;
	left: 20px;
}

.l_arm, .r_arm, .l_leg, .r_leg{
	width: 30px; height: 90px;
	border: 5px solid black;
	border-radius: 18px;
	background-color: #f4d942;
	position: absolute;
	z-index: -1;
}

.l_arm{
	left: -15px;	
	transform: rotate(10deg);
}

.r_arm{
	right: -15px;
	transform: rotate(-10deg);
}

.l_leg{
	top: 50px;
	left: 20px;
}

.r_leg{
	top: 50px;
	right: 20px;
}

.nose:hover{
	background-color: red;
}